.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem 0;
}

.home-left {
  flex: 1;
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.curved-arrow {
  position: absolute;
  top: 2rem;
  left: 12rem;
  height: 60px;
}